ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height:36px;
    background-color:aqua;
    font-size: 30px;
}
li{
    float:left;
    border-right: 2px solid whitesmoke;
}
a{
    display: block;
    padding: 0 28px;
    text-decoration: none;
}
a:hover{
    background-color: blueviolet;
}